<!DOCTYPE html>
<html>
  <head>
    <title>RubyOnBrailles</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Codystar|Public+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1><span id='english-header'>Ruby On Braille</span> &#x2820;&#x2817;</h1>
    </header>
    <navbar>
      <%= link_to 'Home', '/' %>
      <%= link_to 'About', '/about' %>
      <%= link_to 'Developer', 'https://danieleframpton.github.io' %>
    </navbar>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
