<!DOCTYPE html>
<html>
  <head>
    <title>Ruby On Braille</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Codystar|Public+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1>
        <span id='english-header'>Ruby On Braille</span><br />
        <span id='braille-header'>⠠⠗⠥⠃⠽⠀⠠⠕⠝⠀⠠⠃⠗⠁⠊⠇⠇⠑</span>
      </h1>
    </header>
    <navbar>
      <%= link_to 'Home', '/' %>
      <%= link_to 'About', '/about' %>
      <%= link_to 'Github', 'https://github.com/DanielEFrampton/ruby_on_braille' %>
      <%= link_to 'Developer', 'https://danieleframpton.github.io' %>
    </navbar>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
